@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* Primary */
--soft_blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);

/* Neutral */
--very_dark_blue_main: hsl(217, 54%, 11%); /* (main BG) */
--very_dark_blue_card: hsl(216, 50%, 16%); /* (card BG) */
--very_dark_blue_line: hsl(215, 32%, 27%); /* (line) */
--white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: var(--white);
    background-color: var(--very_dark_blue_main);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

section#nft-card-main {
    display: flex;
    flex-direction: column;
    background-color: var(--very_dark_blue_card);
    width: 330px;
    padding: 1.5rem;
    border-radius: 15px;
}

figure#illustration {
    position: relative;
    background-color: var(--cyan);
    border-radius: 12px;
    cursor: pointer;
    width: 282px;
    height: 282px;
}

figure img#card-illustration {
    position: relative;
    width: 100%;
    border-radius: 10px;
    z-index: 1000;
    transition: all 0.1s;
}

figure#illustration:hover img#card-illustration {
    z-index: 0;
    opacity: 0.5;
    transition: all 0.1s;
}

img#icon-view {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.1s;
}

section h1#nft-card-title {
    margin: 1rem 0;
    font-size: 1.4rem;
    cursor: pointer;
}

#nft-card-title a {
    text-decoration: none;
    color: var(--white);
}

#nft-card-title a:hover {
    color: var(--cyan);
}

section p#nft-card-description {
    color: var(--soft_blue);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}

section ul.details {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 1rem 0 0.75rem;
}

li.price {
    color: var(--cyan);
    font-weight: 600;
}

li.time {
    color: var(--soft_blue);
}

hr.line {
    color: var(--very_dark_blue_line);
}

footer#card-credits {
    color: var(--soft_blue);
    display: flex;
    align-items: center;
    margin: 1.2rem 0 0;
}

img.card-credits-avatar {
    width: 2rem;
    margin-right: 1rem;
    border: 1px var(--white) solid;
    border-radius: 50%;
}

p.card-credits-text {
    font-size: 18px;
    font-weight: 400;
}

#card-credits a {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

#card-credits a:hover {
    color: var(--cyan);
}

footer .attribution { font-size: 11px; text-align: center; }
footer .attribution a { color: hsl(228, 45%, 44%); }
